<h3>Copy and paste your link here</h3>
<div class="row">
    <div class="col-md-12">
        <input type="text" id="link-url" class="form-control" placeholder="Your original URL here">
    </div>
</div>
<hr />

@section scripts
{
    <script>

    </script>
}